*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-display{
    border: 1px solid black;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    position: relative;
}

.image-display span{
    position: absolute;
    z-index: -1;
    font-size: 2rem;
}

#target{
    width: 100%;
}

.image{
    margin: 100px 10px 10px 10px;
    transition: all 0.5s ease-out;
}

.draggable-mobile{
    width: 70px;
    opacity: 0.5;
    position: absolute;
    display: none;
    z-index: 1;
}

@media  screen and (max-width: 650px) {
    .image-display{
        width: 400px;
        min-height: 265px;
    }
}

@media  screen and (max-width: 440px) {
    .image-display{
        width: 250px;
        min-height: 165px;
    }
}